<header>
    <ul>
        <li><a href="/"><img class="logo" src="static/images/logo.png"></a></li>
        <li><a href="/">Browse</a></li>
        <li><a href="/create">Create Cube</a></li>
        <li><a href="/create/accessory">Create Accessory</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</header>